#header {
   display:block;
   margin: 12px auto 0 auto;
}

#main {
   display:block;
   margin: 0 auto 0 auto;
   width: 944px;
}

#footer{
	text-align:right;
	width: 944px;
	font-size: 9pt;
  margin: 0 auto 0 auto;
}

#main #navigation {
   width: 134px;
   float:left;
   margin: 0 11px 0 0;
	font-size: 10pt;

	height: 300px;
}

#main #navigation img{
	display: block;
	margin:0 auto 0 auto;
	padding:0;
}

#main #navigation a{
  width: 131px;
  display:block;
  padding: 3px 0px 3px 3px;
}

#main #navigation a.current_href:link, #main #navigation a.current_href:visited {
  background-color: #ddd;
  text-decoration:none;
}

#main #navigation ul li ul li a {
	width: 116px;
  padding: 3px 0 3px 18px;
  background-image: url("../../images/nav-arrow.gif");
	background-repeat: no-repeat;
	background-position: 8px 9px;
}

#main #navigation a:link, #main #navigation a:visited {
  color: #01099A;

}
#main #navigation a:hover {
  color: #333;
}


#main #navigation ul {
   width: 130px;
   margin:0 0 9px 0;
   padding: 0;
}

#main #navigation ul li {
   padding: 0;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}

#main #navigation ul li.distance {
  margin-top: 12px;
}
	
#main #navigation h3 {
   margin: 0 0 8px 0;
}

#main #content {
   float:left;
   width: 798px;  

   padding: 0;
}
