<table cellspacing="0" cellpadding="0" width="100%">
<tr>
	<td>
	-- <br>
	<%= @site_admin_name %> &lt;<a href="mailto:<%=@site_admin_email%>"><%=@site_admin_email%></a>&gt;<br>
	<%= @company_name %>
	</td>
</tr>
</table>

</body>
</html>
