<% welcome_form_box 'Reset Password' do %>
  <fieldset>
    <div id="flash-notice">
      Please enter your new pasword, twice for verification purposes, and click the &#39;Reset Password&#39; button to make the new password active.
    </div>
            			
		<label>Password :</label>
		<%= password_field_tag 'password', nil, :id => 'password' %>

		<label>Password (verify):</label>
		<%= password_field_tag 'password_verify', nil, :id => 'password_verify' %>
  </fieldset>

  <%= hidden_field_tag 'token', params[:token] %>
  <%= submit_tag 'Reset Password', :class => 'submit', :name => 'reset' %>
<% end %>
