<ul class="activity_show  activity_material_show">
	<li class="type">Material</li>
	<li class="client"><%=h (record.client.nil?) ? '(Unknown)' : record.client.company_name %></li>
	<% if record.material -%>
	<li class="label"><%=h record.material.label %></li>
	<% if record.material.comments and record.material.comments.length > 0 -%>
	<li class="comments"><%=h record.material.comments %></li>
	<% end -%>
	<% end -%>
</ul>